<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.CategoryMapper">

<select id="list_all_category" resultType="sol.one.VO.ProductVO">
select * from pj_product where pd_status not in (2) and pd_isdelete=1 order by product_id desc
</select>

<select id="list_popular_category" resultType="sol.one.VO.ProductVO">
select * from pj_product where pd_status not in (2) and pd_isdelete=1 order by pd_like desc
</select>

<select id="list_category" resultType="sol.one.VO.ProductVO">
select * from pj_product where category_id=#{category_id} and pd_isdelete=1 and pd_status not in (2) order by product_id desc
</select>
<select id="count_all" resultType="int">
select count(*) from pj_product where pd_isdelete=1
</select>
<select id="count_category" resultType="int">
select count(*) from pj_product where category_id=#{category_id} and pd_status not in (2) order by product_id desc
</select>
<select id="detail" resultType="sol.one.VO.DetailVO">
select * from pj_board b, pj_product p,pj_user u where p.product_id = b.product_id and b.user_id=u.user_id and b.product_id = #{product_id}
</select>
<select id="all_search" resultType="sol.one.VO.ProductVO">
select * from pj_product where pd_status not in (2) and pd_isdelete=1 and pd_name like '%'||#{search}||'%' order by product_id desc
</select>

</mapper>