<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.ChartMapper">
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							user_name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							nickname like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							email like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<sql id="criteria_date">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							trade_time between to_date(#{sdate},'yyyy-MM-dd') and to_date(#{edate},'yyyy-MM-dd')
							<!-- trade_time between #{sdate} and #{edate} -->
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="tradeWeekCnt" resultType="int">
		select count(*) from
		pj_trade_test
		where pd_status = 1
		and trade_time >= SYSDATE-7
		group by trade_time
		order by trade_time
	</select>

	<select id="tradeWeek" resultType="sol.one.VO.T_tradeVO"
		parameterType="java.lang.String">
		<!-- select * from pj_trade_test where pd_status = 1 and trade_time between 
			to_char( to_date('22/08/20')-7, 'YY/MM/DD') and to_char(to_date('22/08/20'), 
			'YY/MM/DD') order by trade_time -->
		select * from pj_trade_test
		where pd_status = 1
		and trade_time >= SYSDATE-7
		order by trade_time
	</select>

	<select id="tradeAllList" resultType="sol.one.VO.T_tradeVO">
		<![CDATA[
		select ROWNUM, product_id, sell_user_id, buyer_user_id, pd_status, trade_time
		from pj_trade_test
		order by trade_time
		]]>
	</select>

	<select id="getListWithPaging" resultType="sol.one.VO.T_tradeVO">
		<![CDATA[
		select 
			product_id, sell_user_id, buyer_user_id, pd_status, trade_time 
		from 
			(
			select ROWNUM rn, product_id, sell_user_id, buyer_user_id, pd_status, trade_time 
		 	from pj_trade_test  
			where 
		]]>

		<include refid="criteria_date"></include> 
		<![CDATA[
			rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>

	<select id="getTotalTrdCnt" resultType="int">
		select count(*) from pj_trade_test where
		<include refid="criteria_date"></include>
		product_id is not null
	</select>

	<select id="getMemList" resultType="sol.one.VO.MemberVO">
		<![CDATA[
		select 
			user_id, email, nickname, password, user_name, phone, addr, user_grade  
		from
			(
			select ROWNUM rn,  user_id, email, nickname, password, user_name, phone, addr, user_grade 
			from pj_user
			where  
		]]>

		<include refid="criteria"></include> 
		<![CDATA[
		   rownum <= #{pageNum} * #{amount}
		   )
		where rn > (#{pageNum} -1) * #{amount}   
		]]>

	</select>
	<select id="getTotalMemCnt" resultType="int">
		select count(*) from pj_user where
		<include refid="criteria"></include>
		email is not null
	</select>

</mapper>