<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.MypageMapper">
	
	<!-- 테스트용 로그인 -->
	<select id="login" resultType="sol.one.VO.MemberVO">
		select *
		from
			pj_user
		where
			user_id =#{user_id}
		and
			password =#{password}
		and
			user_grade
		not in
			(0)
	</select>



	<!-- 마이페이지 내 정보 조회 -->
	<select resultType="sol.one.VO.MemberVO" id="list_user_mypage" parameterType="Long">
		select *from pj_user where user_id=#{user_id}
	</select>


	<!-- 마이페이지 내 정보 수정 -->
	<update id="update_info_mypage" >
		update pj_user
		set
			nickname=#{nickname},
			password=#{password},
			user_name=#{user_name},
			phone=#{phone},
			zip_no=#{zip_no},
			addr=#{addr}	
		where
			user_id = #{user_id}
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="delete_info_mypage">

	update pj_user
		set
			user_grade = 0
		where
			user_id = #{user_id}
	</update>
	<update id="delete_info_admin">

	update pj_user
		set
			user_grade = -1
		where
			user_id = #{user_id}
	</update>
	<insert id="go_report">
	insert into pj_report(user_id,re_title,re_content,re_time,email,re_user_id)
	values
	(#{user_id},#{re_title},#{re_content},current_date,#{email},#{re_user_id})
	
	</insert>

	<!-- 마이페이지 내 관심상품 조회 -->
	<select resultType="sol.one.VO.LikelistVO" id="list_like_mypage">
	select DISTINCT l.product_id,l.user_id,
	l.like_time,l.pd_name,p.pd_img,p.pd_price,p.pd_discount,p.pd_status
	from pj_like l,pj_product p 
	where l.product_id=p.product_id and 
	l.user_id=#{user_id}
	group by l.product_id,l.user_id,l.like_time,l.pd_name,p.pd_img,p.pd_price,p.pd_discount,p.pd_status order by l.like_time desc
	</select>
		<!--마이페이지 내 거래내역 로그  -->
	<select resultType="sol.one.VO.tradelistVO" id="list_trade_mypage">
	select DISTINCT p.product_id,p.pd_status,p.pd_name,
		p.pd_price,p.pd_price0,p.pd_img,t.trade_time,
		p.pd_discount,p.pd_date from pj_trade t,pj_product p 
		where t.product_id=p.product_id 
		and (t.sell_user_id=#{user_id} or t.buyer_user_id=#{user_id}) 
		group by  p.product_id,p.pd_status,p.pd_name,t.trade_time,
		p.pd_price,p.pd_price0,p.pd_img,
		p.pd_discount,p.pd_date order by t.trade_time desc
	</select>
	<select resultType="sol.one.VO.BoardlistVO" id="list_board_mypage">
		select DISTINCT b.product_id,b.user_id,
		b.board_title,b.board_write_time,p.product_id,
		p.pd_discount,p.pd_date,p.category_id,p.pd_name,
		p.pd_price,p.pd_price0,p.pd_status,p.pd_img 
		from 
		pj_board b,pj_product p 
		where 
		b.product_id=p.product_id 
		and
		user_id=#{user_id} and board_status=1 
		group by 
		b.product_id,b.user_id,b.board_title,
		b.board_write_time,p.product_id,
		p.pd_discount,p.pd_date,p.category_id,p.pd_name,
		p.pd_price,p.pd_price0,p.pd_status,p.pd_img
		order by board_write_time desc
	</select>
	<select resultType="sol.one.VO.CommentlistVO" id="list_comment_mypage">
		select DISTINCT p.pd_name,p.pd_img,u.user_id,
		p.product_id,c.comment_content,c.comment_write_time,
		c.comment_no_level,c.group_no,u.nickname 
		from pj_product p,pj_comment c,pj_user u 
		where c.user_id=u.user_id 
		and c.product_id=p.product_id 
		and c.user_id=#{user_id} 
		group by p.pd_name,p.pd_img,u.user_id,
		p.product_id,c.comment_content,c.comment_write_time,
		c.comment_no_level,c.group_no,u.nickname order by c.comment_write_time desc
	</select>
	<select resultType="sol.one.VO.ReportVO" id="list_report_mypage">
		select * 
		from 
			pj_Report
		where
		    user_id=#{user_id}
		order by
			re_time desc
	</select>
	<select id="check_password_mypage" resultType="int">
		select
			count(*)
		from 
			pj_user
		where
			user_id=#{user_id}
		and
			password=#{password}
	</select>
	


</mapper>
