<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="sol.one.mapper.PageMapper">

	<sql id="page">

		<trim prefixOverrides="OR" suffix=") AND " prefix="(">

			<foreach collection="typeArr" item="type">

				<trim prefix="OR">

					<choose>

						<when test="type == 'T'.toString()"> board_title like '%'||#{keyword}||'%' </when>

						<when test="type == 'C'.toString()"> board_content like '%'||#{keyword}||'%' </when>

						<when test="type == 'W'.toString()"> user_id like '%'||#{keyword}||'%' </when>

					</choose>

				</trim>

			</foreach>

		</trim>

	</sql>
	<select resultType="sol.one.VO.PageVO" id="getList">
		-<![CDATA[
		select * from pj_board where board_no > 0 
		]]>
	</select>

	<insert id="insert">
		insert into pj_board(board_no, product_no, user,id, board_title, board_content)
		values (seq_board_no.nextval,#{product_no}, #{user_id} #{board_title}, #{board_content})
	</insert>

	<insert id="inkey">
		<selectKey keyProperty="board_no" order="BEFORE"
			resultType="int">
			select seq_bo.nextval from dual
		</selectKey>
		insert into pj_board(board_no, board_title, board_content, user_id) values (#{board_no},
		#{board_title}, #{board_content}, #{user_id})
	</insert>


	<select id="sel" resultType="sol.one.VO.PageVO">
		select * from pj_board where
		board_no=#{board_no}
	</select>

	<delete id="del">
		delete from pj_board where board_no=#{board_no}
	</delete>

	<update id="up">
		update pj_board
		set board_title=#{board_title}, board_content=#{board_content},
		user_id=#{user_id},
		board_write_time=sysdate
		where board_no=#{board_no}
	</update>

	<select resultType="sol.one.VO.PageVO" id="getPage">

<![CDATA[
   select 
     *
   from 
       (
       select /*+INDEX_DESC(pj_board) */
         rownum rn, board_no, product_id, user_id, board_title, board_write_time, pd_discount, pd_date
       from 
         pj_board
      where 
      ]]>

		<trim prefixOverrides="OR" suffix=") AND " prefix="(">

			<foreach collection="typeArr" item="type">

				<trim prefix="OR">

					<choose>

						<when test="type == 'T'.toString()"> board_title like '%'||#{keyword}||'%' </when>

						<when test="type == 'C'.toString()"> board_content like '%'||#{keyword}||'%' </when>

						<when test="type == 'W'.toString()"> user_id like '%'||#{keyword}||'%' </when>

					</choose>

				</trim>

			</foreach>

		</trim>
<![CDATA[
      rownum<=(#{pNum} * #{amount})
      )
  where rn > (#{pNum} -1)* #{amount}
 
  ]]>
	</select>

	<select id="getCount" resultType="int">
		select count(*) from pj_board where
		<include refid="page" />
		board_no>0

	</select>

</mapper>