<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.ProductMapper">

	<insert id="insertP">
		insert into pj_product(product_id,category_id,company_name,pd_name,pd_price,pd_status,pd_img,pd_desc,location_id,pd_discount,pd_date)
		values(seq_product_id.nextVal,#{category_id},#{company_name},#{pd_name},#{pd_price},1,#{pd_img},#{pd_desc},#{location_id},#{pd_discount},#{pd_date})
	</insert>
		
	
	<update id="modifyP">
		update pj_product set company_name = #{company_name} and pd_name = #{pd_name} and pd_price = #{pd_price} 
		and pd_img = #{pd_img} and pd_desc = #{pd_desc} and location_id = #{location_id} and pd_discount = #{pd_discount} and pd_date = currnet_date
		where product_id = #{product_id}
	</update>
	
	<select id="selectP" resultType="sol.one.VO.ProductVO">
		select * from pj_product where product_id = #{product_id} 
	</select>
	
	<select id="selectPimg" resultType="int">
		select product_id from pj_product where pd_img = #{pd_img} 
	</select>
	
	<delete id="deleteP">
		delete from pj_product where product_id = #{product_id}
	</delete>
	<update id="modifyProduct">
		update pj_product set company_name = #{company_name}, pd_name = #{pd_name}, pd_price = #{pd_price} 
		,pd_desc = #{pd_desc},category_id=#{category_id},location_id = #{location_id},pd_discount = #{pd_discount} where product_id = #{product_id}
	</update>
	
	


	
	
</mapper>