<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.ReplyMapper">

	<insert id="insert_co">
		insert into pj_comment(product_id,user_id,comment_content,comment_write_time,comment_no)
		values (#{product_id},#{user_id},#{comment_content},current_date,seq_com_no.nextval)
	</insert>
	
	<select id="read" resultType="sol.one.VO.replyVO">
		select * from pj_comment where user_id = #{user_id} order by comment_write_time desc
	</select>
	
	<delete id="delete">
		delete from pj_comment where comment_no = #{comment_no}
	</delete>
	
	<delete id="deleteAll">
		delete from pj_comment where product_id = #{product_id}
	</delete>
	
	<update id="update" parameterType="map">
		update pj_comment
		set comment_content = #{comment_content}
		where comment_no = #{comment_no}
	</update>
</mapper>