<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.SortMapper">
<select id="list_time_desc">
select *from pj_product order by pd_date desc
</select>
<select id="list_time_asc">
select *from pj_product order by pd_date asc
</select>
<select id="list_discount_desc">
select *from pj_product order by pd_discount desc
</select>
<select id="list_discount_asc">
select *from pj_product order by pd_discount asc
</select>
<select id="list_price_desc">
select *from pj_product order by pd_price desc
</select>
<select id="list_price_asc">
select *from pj_product order by pd_price asc
</select>

</mapper>