<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sol.one.mapper.TradeMapper">

	<insert id="put">
		insert into pj_trade(product_id,buyer_user_id,sell_user_id,pd_status,trade_time)
		values (SEQ_TRADE_PDTID_TEST.nextval,#{buyer_user_id},#{sell_user_id},#{pd_status},current_date)
	</insert>
	
	<select id="getMyAll" resultType="sol.one.VO.T_tradeVO">
		select * from pj_trade where buyer_user_id = #{user_id} or sell_user_id= #{user_id}
	</select>
	
	<select id="getMySellList" resultType="sol.one.VO.T_tradeVO">
		select * from pj_trade where sell_user_id= #{sell_user_id}
	</select>
	
	<select id="getMyBuyList" resultType="sol.one.VO.T_tradeVO">
		select * from pj_trade where buyer_user_id = #{buyer_user_id}
	</select>
	
	<update id="up_pd">
		update pj_product set pd_status = #{pd_status} where product_id = #{product_id}
	</update>
	
</mapper>